# Vim Files
*~
*.swp
*.swo

*.qicon
*.DS_Store

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Folders
node_modules
