[user]
    name = p-herbert
    email = pete@sunsama.com
[core]
    autocrlf = input
    safecrlf = true
    editor = /usr/local/bin/vim
    excludesfile = ~/.gitignore
[push]
    default = current
[alias]
    co = checkout
    ci = commit
    st = status
    ss = "!f() { git status -s | awk '{print NR""$0}'; }; f"
    br = branch
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    me = log --author="p-herbert" --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg3 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
    rb = pull --rebase upstream master
    up = "!f() { git remote add upstream $1; }; f"
    RESET = reset --hard HEAD~1
    pm = push origin master
    pu = pull upstream master
    po = push origin
    pl = pull origin
    sh = "!f() { commit=${1-0}; git show HEAD~$commit; }; f"
    ca = "!f() { git add $1 && git ci; }; f"
    dc = diff --cached
    ai = add -i
    a = "!f() { git status -s | cut -c4- | git add $(awk -v line="$1" 'NR==line {print}'); }; f"
    d = "!f() { git status -s | cut -c4- | git diff $(awk -v line="$1" 'NR==line {print}'); }; f"
    rv = remote -v
    re = remote set-url

