[user]
    name = p-herbert
    email = pete@sunsama.com
[core]
    autocrlf = input
    safecrlf = true
    editor = /usr/local/bin/vim
    excludesfile = ~/.gitignore
[push]
    default = current
[branch]
    autoSetupMerge = always
[alias]
    co = checkout
    ci = commit
    st = status
    ss = "!f() { git status -s | nl; }; f"
    br = branch
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    me = log --author="p-herbert" --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg3 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
    ls = "!f() { num=${1-10}; git log --pretty=format:'%C(yellow)%h%Creset %Cblue%ad%Creset %Cgreen%aN%Creset %s' --abbrev-commit --date=short | head -$num | nl -v 0; }; f"
    rb = pull --rebase upstream master
    up = "!f() { git remote add upstream $1; }; f"
    pop = reset --hard HEAD~1
    undo = reset HEAD^
    pm = push origin master
    pu = pull upstream master
    po = push origin
    pl = pull --rebase
    sh = "!f() { num=${1-0}; num=$((num ? ++num : num)); git log --format=format:%H | head -$((++num)) | git show $(awk -v line="$num" 'NR==line {print}'); }; f"
    f = "!f() { regex=${1}; file=${2}; git log -p -G"$regex" $file; }; f"
    ca = "!f() { git add $1 && git ci; }; f"
    dc = diff --cached
    ai = add -i
    a = "!f() { git status -s | cut -c4- | git add $(awk -v line="$1" 'NR==line {print}'); }; f"
    e = "!f() { vim $(git status -s | cut -c4- | awk -v line="${1-1}" 'NR==line {print}'); }; f"
    d = "!f() { git status -s | cut -c4- | git diff $(awk -v line="$1" 'NR==line {print}'); }; f"
    u = "!f() { git status -s | cut -c4- | git reset HEAD $(awk -v line="$1" 'NR==line {print}'); }; f"
    rv = remote -v
    re = remote set-url
    ri = "!f() { num=${1-0}; git rebase --interactive HEAD~$num; }; f"
    rc = rebase --continue
    hs = "!f() { num=${1-0}; git rev-parse HEAD~$num; }; f"
    ps = "!f() { num=${1-0}; git stash show -p stash@{$num}; }; f"
    sa = "!f() { num=${1-0}; git stash apply stash@{$num}; }; f"

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Users/PeterHerbert/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/PeterHerbert/.stCommitMsg
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
